* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100vh;
  padding: 20px;
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.otherinfo {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.tabs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.tabs button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-bottom: 10px;
  cursor: pointer;
  width: 100%;
  text-align: left;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.tabs button:hover {
  background-color: #45a049;
}

.CV {
  flex: 2;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-left: 2rem;
}

.CV h2 {
  margin-bottom: 20px;
}

.userInputs {
  width: 100%;
  max-width: 400px;
}

.userInputs form {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.userInputs .formGroup {
  margin-bottom: 15px;
}

.userInputs label {
  display: block;
  margin-bottom: 5px;
}

.userInputs input {
  width: calc(100% - 12px);
  padding: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.userInputs button[type="button"],
.userInputs button[type="submit"] {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.userInputs button[type="button"]:hover,
.userInputs button[type="submit"]:hover {
  background-color: #45a049;
}

.educationTitle {
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: xx-large;
  margin-top: 1rem;
}

.educationEntry {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 2rem;
}

.experienceTitle {
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: xx-large;
  margin-top: 1rem;
}

.experienceEntry {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 2rem;
}

.userInputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
